/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0px;
 
  padding: 5px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  /*background: #ffffff;*/
  background: url(https://www.iliketowastemytime.com/sites/default/files/imagecache/blog_image/beautiful-fall-leaves-hd-wallpaper.jpg) no-repeat top center ;
  background-size: cover;
  background-attachment: fixed;
}
/* Link Styles */

a {
  text-decoration: none;
  color: steelblue;
}
a:hover {
  color: darkslateblue;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
  display: none;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

header {
  text-align: center;
 /* background: url(https://www.iliketowastemytime.com/sites/default/files/night-sky-hd-wallpaper.jpg) no-repeat top center ;*/
  /*  background: url(https://www.iliketowastemytime.com/sites/default/files/imagecache/blog_image/beautiful-fall-leaves-hd-wallpaper.jpg) no-repeat top center ;
  background-size: cover;*/
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.5) rotate(1080deg);
}
.tag {
  background-color: midnightblue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: midnightblue;
  color: white;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}
.card:hover {
  border-color: maroon;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: steelblue;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: darkslateblue;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

.contenedor{
    margin-top: 60px;
    width: 100%;
    padding: 20px;
    
}

.formulario{
    background: white;
    margin-top: 150px;
    padding: 1px;
    text-align: center;
    border-radius: 15px;
    
}

h1{
    margin-top: 10px;
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
    }    
    
    
  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 450px;
  }

  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}
